---
import { getCollection, type CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  // Get all unique categories from posts
  const allPosts: CollectionEntry<'posts'>[] = await getCollection('posts');
  const uniqueCategories = [...new Set(allPosts.map((post: CollectionEntry<'posts'>) => post.data.category))];
  return uniqueCategories.map(category => ({ params: { category } }));
}

const { category } = Astro.params;
const redirectUrl = `/categories/${category}/page/1`;
---
<html>
  <head>
    <meta http-equiv="refresh" content={'0; url=' + redirectUrl} />
  </head>
  <body>
    <p>Redirecting to <a href={redirectUrl}>{redirectUrl}</a>...</p>
  </body>
</html>

---
